# Default: request review from contributors
* @generative-computing/mellea-contributors

# Mellea Core requires special review
/mellea/core/ @nrfulton @jakelorocco

# Mellea Intrinsics
/mellea/formatters/granite @generative-computing/mellea-intrinsics
/test/formatters/granite @generative-computing/mellea-intrinsics
